<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711342934943-m2fodvo7iu2pmdg215uq9t1l36sl5276.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711342934943-m2fodvo7iu2pmdg215uq9t1l36sl5276</string>
	<key>API_KEY</key>
	<string>AIzaSyBL8C2RJMJ8MGDkhuNe6yZLsYlS7UUTEbE</string>
	<key>GCM_SENDER_ID</key>
	<string>711342934943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nl.bont.template</string>
	<key>PROJECT_ID</key>
	<string>react-app-template-4b714</string>
	<key>STORAGE_BUCKET</key>
	<string>react-app-template-4b714.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711342934943:ios:31dc26ddc1a85b1cde8baa</string>
</dict>
</plist>